<div class="container">

  <h1 class="title">Browse trips</h1>

  <%= link_to "Create Listing",  new_listing_path, class: "button-red" %>

    <div class="row d-flex justify-content-between">

      <% @listings.each do |listing| %>

        <div class="col-sm-4 card-listing" >
          <div class="cards-container">

            <div class="hover-card">
              <%= cl_image_tag listing.photo.key ,class: "image" %>
              <p class="hidden-text"><%= listing.short_description %></p>
            </div>

            <div class="card-description">
              <p class="card-title space"><%=listing.name %></p>
              <p class="card-title space"><%=listing.rating%>✰</p>
            </div>
            <div class="card-details">
              <p class="card-info space"><%=listing.depart_date %></p>
              <p class="card-info space"><%=listing.capacity%> people</p>
              <p class="card-price space">£ <%=listing.price %></p>
              <%= link_to "Show more", listing_path(listing), class: "button-red"  %>
            </div>
          </div>
        </div>



      <% end %>

	  </div>

</div>
