
<div class="container">
<h1>New Listing</h1>

<%= simple_form_for(@listing) do |f| %>
  <%= f.input :photo, as: :file %>
  <%= f.input :name %>
  <%= f.input :rating %>
  <%= f.input :description %>
  <%= f.input :launch_site, as: :select, collection: Listing::ALLOWED_LOCATIONS %>
  <%= f.input :short_description %>
  <%= f.input :price %>
  <%= f.input :depart_date, as: :date, html5: true %>
  <%= f.input :duration %>
  <%= f.input :capacity %>
  <%= f.input :features, as: :check_boxes, collection: Listing::FEATURES %>
  <%= f.submit %>
<% end %>
</div>
