<div class="listing-container">

  <div class="listing-title mt-4">
    <h2><%= @listing.name  %></h2>
  </div>

  <div class="listing-title-infos">
  <div class="d-flex">
    <p><i class="fas fa-user"></i> <%= @listing.user.last_name  %></p>
    <p><i class="fas fa-star"></i> <%= @listing.rating  %></p>
    <p><i class="fas fa-users"></i> <%= @listing.capacity  %></p>
    <p><i class="fas fa-broom"></i> <%= @listing.depart_date  %></p>
    </div>
     <div class="d-flex justify-content-end">
        <% if current_user.id === @listing.user_id  %>
       <p> <%= link_to "Edit listing", edit_listing_path  %> </p>
        <% end %>
       <p> <%= link_to "Back to all listings", listings_path, class:"items-justify-end" %> </p>
      </div>
  </div>

  <div class="row listings-image">
    <div class="col-12">
    <%= cl_image_tag @listing.photo.key, class:"photo-hero" %>
    </div>
  </div>

<%# ==== Decription on left of large screen, infos + booking on the right  ====  %>
  <div class="row">
    <div class="col-8">
      <div class="listing-description-card mt-4">
        <p><i class="fas fa-info"></i>  <%= @listing.description  %></p>
      </div>
    </div>

    <div class="col-4">
        <div class="card show-booking-card mt-4">
          <p><strong>Total cost: $US <%= @listing.price  %></strong></p>
          <%= link_to "Book now", listing_bookings_path(@listing), data: {turbo_method: :post}, class: "button-red"%>
        </div>
    </div>
  </div>

  <ul>
    <% @listing.features.each do |feature| %>
      <li><i class="fas fa-check-circle"></i><%= feature %></li>
    <% end %>
  </ul>

  <div class="listing-map mt-4">
    <div class="listing-map-title mb-4">
      <p><strong>Where you will be taking off from</strong></p>
    </div>
  </div>

  <div style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-marker-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>


</div>
