<div class="container">

  <%= cl_image_tag @listing.photo.key, height: 300, width: 400, crop: :fill  %>
  <p><%= @listing.name  %></p>
  <p><%= @listing.rating  %></p>
  <p><%= @listing.description  %></p>
  <p><%= @listing.price  %></p>
  <p><%= @listing.depart_date  %></p>
  <p><%= @listing.capacity  %></p>
  <p><%= @listing.user.last_name  %></p>


  <% if current_user.id === @listing.user_id  %>
    <%= link_to "Edit listing", edit_listing_path  %>
  <% end %>

  <%= link_to "Back to all listings", listings_path  %>
  <%= link_to "Book now", listing_bookings_path(@listing), data: {turbo_method: :post, turbo_confirm: "Confirm booking?" }%>
</div>
